.fatwa__heading {
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e8f0;
}

.fatwa__title {
  color: #1a202c;
  font-size: 30px;
  font-weight: bold;
}

.fatwa__question {
  color: #7096c9;
  margin-top: 20px;
  line-height: 1.5em;
}

.fatwa__answer {
  line-height: 2.2em;
}
