#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 2;
  margin-top: 40px;
}

article {
  grid-column: 1/11;
  grid-row: 1;
  margin-left: 20px;
}

h1 {
  font-size: 40px !important;
}

// body {
//   display: grid;
//   grid-template-columns: auto minmax(auto, 1200px) auto;
//   grid-template-rows: auto 1fr auto;
//   justify-content: center;
// }

// nav {
//   grid-column: 12/-1;
// }
